<%
    const pageMeta ={
        pageId:'top',
        title:'Gallery select',
        description:'hayuse portfolio',
        pagePath:'.',
        sorcePath:'.'
    }
%>

<%- include (pageMeta.pagePath + "/include/_header",{meta:pageMeta}) %>
<div id="main-visual">
    <video id="gallery-back-video" src="" muted autoplay loop></video>
    <p class="text-load-sub video-start"><a class="videos-link " href="./subdirectory/video.html">Videos</a></p>
    <p class="text-load-sub graphic-start"><a class="graphics-link" href="./subdirectory/graphics.html">Graphics</a></p>
</div>

<%- include (pageMeta.pagePath + "/include/_footer",{meta:pageMeta}) %>