<%
    const pageMeta ={
        pageId:'top',
        title:'Gallery select',
        description:'hayuse portfolio',
        pagePath:'.',
        sorcePath:'.'
    }
%>

<%- include (pageMeta.pagePath + "/include/_header",{meta:pageMeta}) %>
<div id="main-visual">
    <!-- <video id="gallery-back-video" src="" muted autoplay loop></video> -->
    <p class="text-load-sub video-start"><a class="videos-link " href="./subdirectory/video.html">Videos</a></p>
    <p class="text-load-sub graphic-start"><a class="graphics-link" href="./subdirectory/graphics.html">Graphics</a></p>
</div>
<section class="gallery_video_area video-start">
    <a href="./subdirectory/video.html" class="video-start"><h1 class="gallery-title">Videos</h1></a>
    <div class="gallery_grid">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/m23yS9vheOE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/-eEkaGwEXZY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/kykvOGTKXV0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/bV_FozB3YMQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Lmibpri9Dl8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/fijCpzPRzhw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/3YZxlfgKJ3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/qeay1TLTPwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/NL5TBGAGxZk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/gtItTLmsYY4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/VKq-vPM2GRY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/YdmEVHgyDWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/5En06uI6vYI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ySP6oUhNSaA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/iF61k2mmYZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/n8bUq0cS-b4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/a0rMMMpnzJk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/TNUuZyp6AUQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section class="gallery_video_area graphic-start">
    <a href="./subdirectory/video.html" class="graphic-start"><h1 class="gallery-title">Graphics</h1></a>
    <div class="gallery_grid">
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/HHKB_LP.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/Premiere_pro_LP.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/スーツポスター.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/コラージュ.png" alt="">

            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/GENKI_.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/KOYUBISAFE.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/Good_music.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/bob_marly.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/fuukei.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/grace_poster.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/juku.png" alt="">
            </div>
        </div>
        <div class="gallery_item pop_trigger">
            <div class="image_area">
                <img class="gallery_item_img_src pop_area_img" src="./assets/img/season.png" alt="">
            </div>
        </div>
    </div>
    <div id="gray_back"></div>
    <div id="pop_up_area">
        <img src="" id="pop_open_img" alt="">
        <p id="pop_up_text"></p>
    </div>
    <div id="pop_close_btn"></div>
</section>
<%- include (pageMeta.pagePath + "/include/_footer",{meta:pageMeta}) %>