<%
    const pageMeta ={
        pageId:'top',
        title:'My portfolio',
        description:'hayuse portfolio',
        pagePath:'.',
        sorcePath:'.'
    }
%>

<%- include (pageMeta.pagePath + "/include/_header",{meta:pageMeta}) %>
<div id="main-visual">
    
</div>

<%- include (pageMeta.pagePath + "/include/_footer",{meta:pageMeta}) %>