<%
    const pageMeta ={
        pageId:'top',
        title:'My portfolio',
        description:'hayuse portfolio',
        pagePath:'.',
        sorcePath:'.'
    }
%>

<%- include (pageMeta.pagePath + "/include/_header",{meta:pageMeta}) %>

<div id="main-visual">
    

<div id="main-visual">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player id="logo-anime" class="logo-load" src="https://assets5.lottiefiles.com/packages/lf20_tbo61wbj.json" background="transparent" speed="1" autoplay></lottie-player>
    <p id="main-title" class="text-load">My name is <a href="#" class="top-link">hayuse.</a></p>
    <nav id="top-nav">
        <ul>
            <li class="text-load"><a class="top-link" href="#">Gallery</a></li>
            <li class="text-load"><a class="top-link " href="#">Project</a></li>
            <li class="text-load"><a class="top-link " href="#">Contact</a></li>
        </ul>
    </nav>

</div>

<%- include (pageMeta.pagePath + "/include/_footer",{meta:pageMeta}) %>