<%
    const pageMeta ={
        pageId:'top',
        title:'My portfolio',
        description:'hayuse portfolio',
        pagePath:'.',
        sorcePath:'.'
    }
%>

<%- include (pageMeta.pagePath + "/include/_header",{meta:pageMeta}) %>

    <p>hello world</p>
<%- include (pageMeta.pagePath + "/include/_footer",{meta:pageMeta}) %>