        <footer>

        </footer>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src="<%= meta.sorcePath%>/assets/js/script.js"></script>
    </body>
</html>