<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (meta.pageId == 'top'){ %>
        <title><%= meta.title %></title>
    <%}else{ %>
        <title><%= meta.title %>| hayuse's portfolio</title>
    <% } %>
    <link rel="stylesheet" href="<%= meta.sorcePath%>/assets/css/style.css" type="text/css">
    
</head>
<body>
    <header>
        
    </header>