<%
    const pageMeta ={
        pageId:'top',
        title:'Videos',
        description:'hayuse portfolio',
        pagePath:'..',
        sorcePath:'..'
    }
%>

<%- include (pageMeta.pagePath + "/include/_header",{meta:pageMeta}) %>

<div id="graphic-visual">
    <div class="slider-for">
        <div class="slide-item">
            
            <p class="slide-item-title text-random-op"><span class="slide-item-num">No.1</span>動画で覚える配色トーン</p>
            <div class="graphic-item-frame">
                    <!-- <span class="mockup_part_1"></span> -->
                    <div class="graphic_src_frame"><img class="graphic_src" src="../assets/img/LP_ページ_1.png" alt=""></div>
                    <img class="graphic_frame" src="../assets/img/Mockup.png" alt="mockup">
                    <img class="graphic_frame_top" src="../assets/img/Mockup_top.png" alt="mockup">
                    <img class="graphic_frame_bottom" src="../assets/img/Mockup_bottom.png" alt="mockup">
                    <img class="graphic_frame_left" src="../assets/img/Mockup_left.png" alt="mockup">
                    <img class="graphic_frame_right" src="../assets/img/Mockup_right.png" alt="mockup">
                    <!-- <span class="mockup_part_2"></span> -->
            </div>
            <p class="slide-item-point text-random-op">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="graphic-item-detail text-random-op ">
                <p><span>制作時間 -</span>3日</p>
                <p><span>制作ソフト -</span>Aftereffects PremirePro</p>
            </div>
        </div>
        <div class="slide-item">
            
            <p class="slide-item-title text-random-op"><span class="slide-item-num">No.1</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame box-random-op">
                    <img src="../assets/img/Premiere_pro_LP.png" alt="">
            </div>
            <p class="slide-item-point text-random-op">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details text-random-op">
                <p><span>制作時間 -</span>3日</p>
                <p><span>制作ソフト -</span>Aftereffects PremirePro</p>
            </div>
        </div>
        <div class="slide-item">
            <p class="slide-item-title text-random-op"><span class="slide-item-num">No.3</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame box-random-op">
                <img src="../assets/img/HHKB_LP.png" alt="">
            </div>
            <p class="slide-item-point text-random-op">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details text-random-op">
                <p><span>制作時間：</span>3日</p>
                <p><span>制作ソフト：</span>Aftereffects PremirePro</p>
            </div>
        </div>
        <div class="slide-item">
            <p class="slide-item-title text-random-op"><span class="slide-item-num">No.4</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame box-random-op">
                <img src="../assets/img/コラージュ.png" alt="">
            </div>
            <p class="slide-item-point text-random-op">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details text-random-op">
                <p><span>制作時間：</span>3日</p>
                <p><span>制作ソフト：</span>Aftereffects PremirePro</p>
            </div>
        </div>
    </div>
    </div>
    <div class="slider-nav">
        <div >1</div>
        <div>
           2 
        </div>
        <div>3</div>
        <div>4</div>
    </div>
</div>

<%- include (pageMeta.pagePath + "/include/_footer",{meta:pageMeta}) %>