<%
    const pageMeta ={
        pageId:'top',
        title:'Videos',
        description:'hayuse portfolio',
        pagePath:'..',
        sorcePath:'..'
    }
%>

<%- include (pageMeta.pagePath + "/include/_header",{meta:pageMeta}) %>

<div id="graphic-visual">
    <div class="slider-for">
        <div class="slide-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qeay1TLTPwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="slide-item-title text-random-op"><span class="slide-item-num">No.1</span>お化け屋敷</p>
            <iframe src="../web/toi1/index.html" width="100%" height="1000px"></iframe>
            <p class="slide-item-point text-random-op">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details text-random-op project-detail">
                <p><span>制作時間 -</span>3日</p>
                <p><span>制作ソフト -</span>Aftereffects PremirePro</p>
            </div>
        </div>
        <div class="slide-item">
            
            <p class="slide-item-title text-random-op"><span class="slide-item-num">No.1</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame box-random-op">
                    <img src="../assets/img/Premiere_pro_LP.png" alt="">
            </div>
            <p class="slide-item-point text-random-op">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details text-random-op">
                <p><span>制作時間 -</span>3日</p>
                <p><span>制作ソフト -</span>Aftereffects PremirePro</p>
            </div>
        </div>
        <div class="slide-item">
            <p class="slide-item-title text-random-op"><span class="slide-item-num">No.3</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame box-random-op">
                <img src="../assets/img/HHKB_LP.png" alt="">
            </div>
            <p class="slide-item-point text-random-op">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details text-random-op">
                <p><span>制作時間：</span>3日</p>
                <p><span>制作ソフト：</span>Aftereffects PremirePro</p>
            </div>
        </div>
        <div class="slide-item">
            <p class="slide-item-title text-random-op"><span class="slide-item-num">No.4</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame box-random-op">
                <img src="../assets/img/コラージュ.png" alt="">
            </div>
            <p class="slide-item-point text-random-op">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details text-random-op">
                <p><span>制作時間：</span>3日</p>
                <p><span>制作ソフト：</span>Aftereffects PremirePro</p>
            </div>
        </div>
    </div>
    </div>
    <div class="slider-nav">
        <div >1</div>
        <div>
           2 
        </div>
        <div>3</div>
        <div>4</div>
    </div>
</div>

<%- include (pageMeta.pagePath + "/include/_footer",{meta:pageMeta}) %>