<%
    const pageMeta ={
        pageId:'top',
        title:'Project',
        description:'hayuse portfolio',
        pagePath:'..',
        sorcePath:'..'
    }
%>

<%- include (pageMeta.pagePath + "/include/_header",{meta:pageMeta}) %>

<div id="graphic-visual">
    <div class="slider-for">
        <div class="slide-item">
            <p class="project_num">Project.file1</p>
            <section class="project-fv">
                <video class="project-background-video" src="../assets/video/obake_back.mp4" autoplay loop muted></video>
                <h1 class="project-title">
                    <svg class="project-title-svg" id="グループ_1490" data-name="グループ 1490" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1170.163" height="189.678" viewBox="0 0 1170.163 189.678">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="長方形_1243" data-name="長方形 1243" width="1170.163" height="189.678" fill="none"/>
                          </clipPath>
                        </defs>
                        <g id="グループ_1489" data-name="グループ 1489" clip-path="url(#clip-path)">
                          <path id="パス_787" data-name="パス 787" d="M65.242,50.336c-13.826,0-44.071,13.178-50.119,13.178-4.105,0-8.642-1.945-15.123-7.993l4.321-9.074c4.752,2.593,6.7,3.241,9.289,3.241,4.537,0,44.287-14.258,51.632-14.258,11.45,0,13.826,4.536,13.826,7.345,0,4.1,0,7.561-13.826,7.561m-6.481,53.576c-5.833,0-25.06,9.073-27,9.073-1.728,0-5.185-.647-11.45-6.48l3.457-9.073c5.4,1.727,6.7,2.376,7.345,2.376,2.16,0,22.035-9.506,27.868-9.506,6.049,0,9.506,4.321,9.506,6.266,0,4.32-3.241,7.344-9.722,7.344m.216-28.732c-5.185,0-24.844,9.073-26.788,9.073-1.512,0-5.4-.864-11.666-6.48l3.241-9.29a20.542,20.542,0,0,0,7.345,2.377c2.16,0,23.331-9.291,27.868-9.291,5.833,0,9.722,4.105,9.722,6.914,0,4.752-3.457,6.7-9.722,6.7m8.857,63.513c0,7.994-1.944,17.284-4.1,24.2,2.592,1.3,4.537,3.456,4.537,4.753,0,5.833-8.426,6.7-9.938,6.7-.648,0-8.641,1.944-16.2,4.1,0,7.777-3.456,11.018-6.7,11.018H35c-2.161,0-6.266-.433-6.266-13.61,0-4.753-1.08-28.517-1.08-32.406,0-3.24-1.512-5.184-6.049-9.937l7.994-7.562c1.728,1.3,3.024,2.377,4.32,3.457,7.777-2.592,16.2-7.128,23.332-7.128,2.592,0,11.666,6.7,11.666,10.369,0,.864-1.081,3.457-1.081,6.048M47.744,33.053l-6.266-3.889c2.809-2.16,4.1-2.592,4.1-3.24,0-1.3-3.024-3.456-15.554-9.5l7.993-9.29C60.706,17.715,63.514,19.659,63.514,23.98c0,1.08-7.994,3.024-15.77,9.073m5.616,103.7c-2.16,0-7.561,2.161-12.529,3.889.215,3.889.647,15.123.863,24.412,3.457-.648,7.13-1.512,10.154-2.376a111.166,111.166,0,0,0,2.809-24.412,1.63,1.63,0,0,0-1.3-1.513m111.906,52.929c-25.06,0-54.009-21.819-74.1-21.819a48.2,48.2,0,0,0-16.634,2.376v-8.209a54.244,54.244,0,0,1,14.906-3.889c4.1-6.049,11.018-12.314,11.018-16.2,0-4.753-16.851-8.21-16.851-14.475,0-2.593,6.913-11.45,6.913-13.61,0-.432-.648-.865-1.512-.865-1.3,0-6.265,5.618-11.018,5.618-1.08,0-4.1-.865-8.857-5.4l1.3-8.857a18.3,18.3,0,0,0,7.345,1.944c2.376,0,14.042-8.641,17.931-8.641,2.16,0,10.37,6.264,10.37,9.289,0,4.537-8.642,15.339-8.642,18.363,0,4.32,17.931,8.209,17.931,15.338,0,6.7-11.882,11.45-17.931,17.93,21.172,2.162,41.479,14.908,67.619,14.908,21.387,0,38.454.863,38.454,3.024,0,3.672-20.307,13.178-38.238,13.178M86.846,82.741,81.877,79.5c6.7-5.616,9.289-7.56,9.289-9.289,0-1.944-2.16-4.537-13.826-10.586l6.265-7.345c17.283,8.209,21.388,14.042,21.388,17.5,0,2.808-5.185,1.3-18.147,12.962m110.825,60.49c-5.617,0-13.178-1.3-17.283-3.889-4.1-2.809-15.338-20.091-25.276-42.343v54.225c0,7.561-3.888,10.8-6.912,10.8-2.809,0-7.13-3.458-7.13-10.586L141.5,106.5a87.748,87.748,0,0,1-24.412,28.517l-5.4-4.969c9.074-8.426,18.8-24.2,25.06-43.64-7.777,2.593-14.258,4.969-18.794,4.969-2.377,0-8.642-2.808-14.259-8.857l5.617-9.721c5.185,3.456,8.209,4.32,9.506,4.32,3.24,0,12.313-3.673,23.115-6.913l.433-31.541c.215-13.178,2.16-18.579,2.16-22.684,0-2.16-1.08-4.1-8.21-8.424L144.958,0c11.235,7.129,13.4,10.153,13.4,15.338,0,3.457-3.241,7.994-3.241,19.228V66.755a76.4,76.4,0,0,1,16.635-2.161c18.147,0,22.467,4.321,22.467,8.641,0,4.969-3.24,5.833-10.369,5.833-3.241,0-7.346-.215-12.53-.215a66.193,66.193,0,0,0-14.475,1.728c14.691,26.356,24.412,36.726,31.757,44.286,5.833,6.049,15.339,13.611,15.339,16.635,0,1.3-2.593,1.729-6.265,1.729m-68.915-84.47c-.648,0-8.209-14.906-22.035-24.411l7.129-6.913c12.1,6.913,24.628,20.955,24.628,22.035,0,2.376-8.21,9.289-9.722,9.289m35.43-3.672-6.7-4.537C167.858,40.4,173.043,28.084,173.043,23.98c0-1.08-1.08-2.592-7.561-6.049l9.937-5.833c9.506,3.457,14.475,7.993,14.475,10.586,0,7.561-11.666,22.683-25.708,32.405" fill="#842b17"/>
                          <path id="パス_788" fill="#fff" data-name="パス 788" d="M239.551,102.514l-4.133-2.066c5.236-2.894,15.706-11.573,21.079-18.6-3.169,1.1-5.786,1.929-7.439,1.929-2.067,0-3.582-.414-7.164-3.032C234.867,87.91,221.5,97.554,213.1,101.137l-2.481-2.343c6.338-3.031,25.212-22.043,25.212-24.661,0-.413-.826-1.378-6.612-4.408l5.235-4.822c9.369,4,12.262,6.061,12.262,8.817a4.053,4.053,0,0,1-.276,1.24,8.43,8.43,0,0,0,2.205.413c4.408,0,12.812-3.719,14.19-3.719,3.031,0,7.027,4.27,7.027,7.852,0,2.618-12.538,14.466-30.311,23.008m24.11,83.766c-3.031,0-1.1-3.169-21.767-16.947l2.2-3.031c12.262,7.578,15.293,8.817,16.532,8.817,1.1,0,2.068-2.341,2.068-5.923V147.015c-6.889.275-20.942,2.342-29.071,3.03-2.479,12.675-7.715,23.146-17.91,30.31l-3.995-2.48c14.053-11.3,15.154-37.611,15.154-53.317V116.7c0-.688-2.342-3.03-6.061-5.1l4.27-5.786c1.516.827,2.756,1.653,4,2.342,7.715-1.24,21.768-5.374,32.652-5.374,3.031,0,9.92,5.512,9.92,9.232V171.4c0,8.679-4.134,14.88-7.992,14.88m-27.967-53.456c-.138,3.031-.413,5.924-.689,8.817,2.48-.138,5.511-.551,8.68-.826.275-3.169.413-6.2.551-9.231-3.032.551-5.924.964-8.542,1.24m6.613-19.012c-2.342.551-4.408.964-6.338,1.377v9.369c2.618-.275,5.512-.69,8.542-1.1.138-3.306.138-5.51.138-6.061,0-1.516-.826-2.481-2.342-3.582M262.7,113.4c0-.551-.69-1.653-.965-1.653a89.978,89.978,0,0,0-10.746.689,6.115,6.115,0,0,1,1.791,4.408c0,.414-.138,2.618-.138,5.512,4.684-.69,8.542-1.378,10.058-1.516Zm0,15.982c-2.619.138-6.338.551-10.471,1.1,0,3.169-.138,6.475-.276,9.23,4.959-.551,9.231-1.1,10.747-1.239Zm72.053,22.594a129.53,129.53,0,0,0-18.6,1.378v13.915c0,7.991-3.169,21.492-4.96,21.492-1.1,0-3.995-17.635-3.995-21.492V155.005c-9.783,1.929-16.809,4.271-19.289,4.271-4.27,0-7.164-.413-11.573-5.1l4.134-5.925a11.1,11.1,0,0,0,7.715,2.343c.965,0,8.817-2.205,19.013-4.272v-9.781c-4.272.964-7.992,1.791-9.645,1.791s-3.582-.827-6.475-2.893a44.039,44.039,0,0,1-15.706,11.986l-2.48-2.894c10.057-7.026,16.946-20.528,16.946-24.248,0-1.791-1.1-3.03-3.857-4.408l2.617-3.995c9.644,3.444,11.022,6.062,11.022,7.99,0,1.516-1.24,5.1-3.858,9.231a4.751,4.751,0,0,0,1.791.414c1.791,0,5.512-.827,9.645-1.791v-4.96c0-3.307-1.1-5.786-4.685-6.613l2.618-6.338c8.955,2.342,11.022,5.511,11.022,11.573v4.27c4.132-.963,7.714-1.791,9.5-1.791,5.65,0,7.579,1.516,7.579,4.547s-1.516,4.547-7.716,4.547a51.5,51.5,0,0,0-9.368,1.654v10.056a110.551,110.551,0,0,1,18.737-1.791c6.612,0,8.541,1.653,8.541,4.822,0,2.48-1.929,4.271-8.68,4.271m-1.239-71.5c-2.48,17.083-6.476,32.789-14.466,32.789-1.93,0-4.134-6.2-16.395-12.4l1.1-2.48c5.924,2.342,12.124,3.582,13.778,3.582,3.582,0,6.888-16.808,6.888-23.835,0-.688-.965-1.239-1.928-1.239-2.343,0-8.818,1.239-15.293,2.479a4.253,4.253,0,0,1,.413,1.791c0,6.476-15.706,25.9-29.621,32.515l-2.618-3.72c11.987-7.715,21.63-21.906,22.043-28.8a22.009,22.009,0,0,1-4.408.552c-3.995,0-7.577-2.48-10.333-6.2l3.307-5.373a12.317,12.317,0,0,0,7.164,2.342c4.822,0,22.87-4.96,30.309-4.96,4.96,0,11.16,5.787,11.16,8.4,0,1.791-.827,2.481-1.1,4.547"/>
                          <path id="パス_789" fill="#fff" data-name="パス 789" d="M413.689,179.253c-11.711,0-30.309-12.812-30.309-27.692,0-2.48,1.928-5.1,9.643-6.337l2.756,3.72c-2.893,1.1-3.169,2.066-3.169,4.27,0,7.715,18.875,19.564,21.906,19.564,2.205,0,4-.964,5.649-1.654l1.378,2.067c-3.307,4.271-5.1,6.062-7.854,6.062m17.222-51.113a62.751,62.751,0,0,1,1.653,11.021c0,6.2-2.48,8.542-4.822,8.542-1.24,0-3.031-2.479-6.613-4.409l.689-3.03a3.012,3.012,0,0,0,1.929.689c.688,0,1.1-.276,1.1-.689a56.6,56.6,0,0,0-1.929-10.333c-12.95,2.617-21.9,3.169-23.834,3.169-2.756,0-6.476-3.307-6.476-7.026,0-2.619,3.169-6.2,3.169-7.441h4.96a20.5,20.5,0,0,0-.275,2.343c0,1.929.826,2.2,2.2,2.2a113.736,113.736,0,0,0,17.91-1.791,219.8,219.8,0,0,0-9.093-24.661c-8.266-1.516-16.119-3.169-19.7-4.685V87.911c4.133,0,9.781.275,15.568.688a29.3,29.3,0,0,0-4.96-6.475c-6.062-5.235-6.888-7.164-6.888-8.955,0,0,1.515-3.582,7.3-5.787l4.959,2.894c-1.24,1.515-1.653,2.479-1.653,2.893,0,1.377,5.924,6.337,11.435,16.533,10.47,1.377,19.426,3.857,19.426,7.714l-1.929,3.307c-3.582-.551-8.4-1.377-13.5-2.342a204.5,204.5,0,0,1,7.164,21.355c7.439-1.654,13.088-3.582,13.088-4.685,0-.964.137-3.168.275-4.27H445.1c0,4,3.032,5.923,3.032,7.164,0,4.133-10.2,8.129-17.222,10.195"/>
                          <path id="パス_790" fill="#fff" data-name="パス 790" d="M570.743,169.608c-7.027,0-11.711-4.959-11.711-27h3.031c0,13.915,4.547,18.462,8.542,18.462,9.368,0,17.5-11.022,17.5-19.7,0-7.852-4.685-12.4-15.569-12.4-12.675,0-28.381,5.787-40.092,12.674-2.066,20.666-5.924,34.306-11.848,34.306-2.618,0-12.261-10.608-12.261-17.084,0-7.164,6.888-14.879,16.532-21.492.551-7.715.827-17.359,1.1-29.346h-1.24c-7.852,0-12.262-2.066-17.084-7.026l1.516-4.408a21,21,0,0,0,8.955,2.479,71.307,71.307,0,0,0,7.853-.413V89.7c0-5.511-.414-10.333-2.066-14.053l4.27-2.2c4,6.062,6.476,12.124,6.476,16.119v7.3c5.235-1.653,8.68-3.857,8.68-6.061h3.857c0,6.75-5.925,12.261-12.675,15.154-.138,9.23-.551,18.048-1.24,26.177,13.088-7.027,28.519-12.124,39.265-12.124,15.844,0,25.074,7.164,25.074,20.8,0,11.3-8.127,28.794-26.865,28.794m-54.971-11.159c0,1.516,2.617,5.649,3.857,5.649,1.654,0,3.169-4.684,4.41-16.808-4.96,4-8.267,7.99-8.267,11.159m79.357-51.664-2.066-1.653a23.092,23.092,0,0,0,3.719-11.711c0-2.48-5.373-8.128-10.057-8.128-3.445,0-5.374.551-9.782,2.892l-2.894-3.031c3.032-4.27,8.129-8.128,12.951-8.128,8.817,0,17.773,8.4,17.773,14.879,0,4.272-4,8.542-9.644,14.88"/>
                          <path id="パス_791" fill="#fff" data-name="パス 791" d="M650.507,116.842c9.644,4,11.435,6.751,11.435,9.644V178.15c0,6.063-3.858,6.889-5.373,6.889-1.791,0-4.684-1.653-4.684-6.476,0-2.479,1.515-9.092,1.515-49.459,0-2.205-2.48-4.409-6.888-6.889-4.96,6.338-9.92,12.262-14.741,16.533l-5.236-2.2C641,122.491,661.667,83.226,661.667,80.058c0-.828-2.205-3.582-8.542-7.441l4.959-4.821c8.68,3.582,14.88,9.23,14.88,11.159,0,2.342-10.2,20.941-22.457,37.887m63.788,61.033c-25.487,0-31-6.338-31-20.391V87.772c0-1.24-1.929-4.132-5.373-7.3l6.337-4.409c6.751,5.1,8.817,8.817,8.817,11.573v34.856c13.915-11.848,27.555-31.137,27.555-33.065,0-.827-.965-2.342-6.476-5.649l4.685-5.787c10.746,5.373,13.64,8.129,13.64,11.3,0,4.822-20.942,27.83-39.4,40.367v27.968c0,7.715,2.481,11.159,21.355,11.159,20.941,0,28.382-3.72,28.382-5.924,0-1.515-.552-5.374-3.583-24.661h4.409c3.857,22.319,9.506,24.11,9.506,27,0,7.027-8.68,12.675-38.852,12.675"/>
                          <path id="パス_792" fill="#fff" data-name="パス 792" d="M799.571,176.911c-5.512,0-14.191-19.15-14.191-39.954,0-43.4,7.027-59.517,17.5-66.406l3.445,3.169c-10.057,10.195-11.986,32.1-11.986,63.237,0,17.084,4.133,29.484,5.373,29.484.827,0,2.618-3.169,3.445-9.645h3.3c-1.652,16.395-4.408,20.115-6.887,20.115m59.654-68.059c-.1,35.442-6.843,48.842-11.228,57.276-1.462,2.812,6.34,24.1-4.315,21.793s3.612-19.264,4.315-21.793c2.194-7.9,2.273-22.343,2.273-50.939v-6.2c-19.564,1.24-36.785,9.92-37.611,16.119l-4.96-1.791c3.719-11.711,19.839-20.39,42.709-22.6.414-9.368,3.306-16.119,9.369-16.119,2.755,0,5.648,2.894,7.852,7.991L865.7,93.834a4.425,4.425,0,0,0-3.307-1.928c-2.066,0-2.893,2.618-3.169,8.266.965,0,1.929-.137,2.894-.137,5.648,0,7.164-.276,7.164-1.241a3.5,3.5,0,0,0-.276-.963l2.617-1.241c2.756,3.582,5.512,4.685,5.512,6.614,0,2.754-2.067,5.235-17.911,5.648"/>
                          <path id="パス_793" fill="#fff" data-name="パス 793" d="M1009.666,84.879c2.479.965,4.546,2.481,4.546,3.444,0,4.272-4.823,4.547-7.3,4.547h-.826c-12.124,0-46.843,5.924-63.238,8.4-3.719,19.011-16.4,57.174-39.265,70.952l-3.72-4.272c18.324-8.679,34.857-62.272,34.857-74.809,0-.826-2.894-3.169-7.165-6.338l4.685-5.1c7.853,5.1,11.848,7.99,11.848,10.195V92.6c15.293-1.929,43.26-8.129,56.762-8.129,3.168-4.408,4.133-7.577,4.133-9.781,0-.277-.551-1.516-1.378-1.516-5.51,0-58.966,8.68-63.237,8.68-.964,0-5.924-1.93-10.333-5.373l3.169-5.512c3.031,2.205,4.134,2.343,4.822,2.343,6.889,0,61.446-9.369,66.957-9.369,3.995,0,9.644,5.787,9.644,7.716,0,3.031-1.791,8.127-4.959,13.225m9.781,89.965c-3.444,0-7.853-.551-11.849-.551-36.508,0-66.267,7.44-71.64,7.44-2.756,0-6.889-1.378-13.778-7.853l3.72-5.511c5.511,3.72,8.542,4.546,10.884,4.546,2.066,0,14.742-2.755,31.825-4.96a48.258,48.258,0,0,0,1.378-11.985c-7.577,1.377-14.466,2.755-16.394,2.755-2.067,0-4.823-1.1-10.747-5.649l3.72-5.786a12,12,0,0,0,7.164,2.48c2.48,0,9.231-1.378,16.4-2.755v-2.756c0-1.791-.826-4.133-5.236-6.476-11.572,3.032-18.875,4.547-20.389,4.547-1.654,0-4.96-2.2-4.96-3.857s1.515-4.96,9.093-7.3c2.617-.827,17.91-17.084,17.91-18.324v-.275c-5.649,1.24-9.506,2.341-11.159,2.341-2.481,0-5.649,0-12.262-6.2l3.857-4.547c2.756,1.654,5.373,2.618,6.338,2.618,3.582,0,29.483-6.888,44.913-6.888,8.267,0,10.746,2.892,10.746,4.96,0,3.168-3.995,3.719-10.883,3.719a136.537,136.537,0,0,0-22.871,2.067,4.74,4.74,0,0,1,.965,2.479c0,4.134-16.4,16.534-16.4,16.947,0,.275.275.826.689.826,1.1,0,11.848-1.654,32.376-6.337a81,81,0,0,0-7.99-5.1l3.582-4.409c14.879,6.2,25.763,19.426,25.763,20.253,0,1.1-5.786,5.786-6.751,5.786-.413,0-2.067-5.511-9.644-12.4-8.817,2.618-16.808,4.822-23.835,6.751,3.72,2.2,4.96,4.27,4.96,7.3v2.481c5.786-1.1,10.884-1.93,13.364-1.93,4.409,0,8.4,3.307,8.4,4.685,0,4.409-5.1,4.547-9.094,4.547-2.48,0-7.44.826-13.088,1.791a63.863,63.863,0,0,1-1.516,12.674c9.783-.964,20.529-1.791,31.55-1.791,7.853,0,17.635,2.342,17.635,6.2,0,2.756-2.756,3.444-6.751,3.444"/>
                          <path id="パス_794" fill="#fff" data-name="パス 794" d="M1099.486,139.712c-6.474.689-16.119,2.894-25.074,5.235,3.031,2.068,4.272,3.72,4.685,4.823,5.235-.964,10.47-2.48,13.363-2.48,2.205,0,7.026,2.755,7.026,4.821,0,14.605-4.683,31.137-14.741,31.137-1.929,0-1.653-2.066-15.431-10.057l1.654-3.168c7.3,2.892,11.848,4.408,13.364,4.408,1.929,0,5.786-6.062,5.786-17.36a2.663,2.663,0,0,0-1.653-1.239c-2.2,0-7.164,1.239-11.71,2.2-5.512,9.506-19.426,20.528-30.035,25.212l-3.582-3.031c13.226-8.266,26.314-23.559,26.314-29.759,0-.138-1.377-1.515-4.408-3.03l-13.227,3.444c-1.653,0-3.995-.689-9.23-2.756l2.342-7.026a26.382,26.382,0,0,0,6.062,1.378c2.067,0,19.151-4.96,21.63-5.649l-2.342-1.791c3.307-2.205,4.133-2.48,4.133-3.444,0-.552-1.1-1.24-4.546-3.582-2.618.551-5.235,1.1-7.44,1.516-.689,1.928-2.067,3.444-3.995,3.444-8.405,0-3.72-26.728-15.431-35.269l5.1-5.1a32.662,32.662,0,0,1,5.235,3.72h.827c2.755,0,9.231-1.791,16.257-3.582V86.119c-6.613,1.791-12.537,3.307-14.053,3.307-4.409,0-6.888-2.342-11.848-7.44l5.648-5.787c3.031,3.169,4,4.272,6.063,4.272,1.1,0,7.577-1.653,14.6-3.445.413-3.306.965-5.235.965-6.613,0-.964-1.24-3.306-5.925-6.337l5.787-4.133c7.577,5.1,9.231,7.439,9.231,9.919a29.278,29.278,0,0,1-.827,4.823c5.511-1.378,9.919-2.481,10.608-2.481,6.062,0,8.267,2.481,8.267,4.96,0,2.617-3.307,4.271-7.027,4.271-2.2,0-7.164,1.1-12.537,2.342V90.39c5.373-1.239,10.471-2.2,14.053-2.2s9.782,6.062,9.782,8.955c0,2.48-2.894,11.435-7.026,19.84,1.239.826,2.066,1.652,2.066,2.617,0,1.791-1.929,4.547-7.44,4.547-2.067,0-6.475.826-11.435,1.791,3.169,2.617,4.547,4.408,4.547,5.51a3.731,3.731,0,0,1-1.1,2.755c5.373-1.239,11.849-3.169,17.222-3.169,3.03,0,6.889,1.791,6.889,3.859,0,3.168-3.445,4.408-7.441,4.821m-29.069-38.852c-5.235,1.378-10.058,2.619-12.812,3.169.413,1.378.963,3.169,1.376,5.1,3.307-.688,7.441-1.653,11.436-2.617Zm0,13.089c-3.444.827-6.751,1.516-9.645,2.2a48.924,48.924,0,0,1,1.241,5.373c2.618-.55,5.51-1.1,8.4-1.791Zm22.319-17.634c-3.169,0-8.129.963-13.364,2.2v5.648a86.023,86.023,0,0,1,8.955-1.929,16.689,16.689,0,0,1,4.685.69,16.475,16.475,0,0,0,1.239-5.1c0-.414-.688-1.515-1.515-1.515M1088.6,110.23a67.429,67.429,0,0,0-9.231,1.515v6.062c2.756-.551,5.373-1.1,7.3-1.516,1.1-2.066,2.2-4.133,3.169-6.061Zm19.288-26.039c-.964,0-3.032-6.751-14.328-14.742l4.27-4.822C1106.65,70,1112.988,77.44,1112.988,78.4c0,1.1-4.27,5.787-5.1,5.787m60.068,98.231c-3.72,0-11.435-1.791-13.5-2.894-5.787-3.031-12.4-14.6-19.013-26.727-6.751,12.95-15.843,24.661-27.279,31.136l-3.995-3.168c11.435-7.441,20.253-22.182,26.314-37.336-5.923-10.885-11.573-20.529-16.532-23.147l3.168-3.582c4.96,2.894,10.471,10.2,16.258,18.738,4.408-13.365,6.75-26.04,6.75-33.479,0-1.24-1.1-2.479-3.995-4.822l3.444-3.169c-6.889,2.343-13.088,5.1-14.19,5.1a7.428,7.428,0,0,1-3.032-1.1c-3.857,10.195-9.505,20.665-17.083,28.381L1101,123.868c10.333-12.123,16.946-40.091,16.946-52.49,0-.552-1.24-2.48-6.475-4.547l4.547-5.1c7.164,2.893,12.124,4.684,12.124,9.368a70.7,70.7,0,0,1-3.032,18.6c4.685-.826,21.079-7.577,27.279-7.577,6.338,0,7.853,2.48,7.853,4.684,0,2.618-1.378,4.409-7.439,4.409a41.724,41.724,0,0,0-11.3,2.2c6.2,4.133,8.266,5.648,8.266,9.093,0,9.782-3.444,26.177-10.333,42.02,7.165,10.884,14.466,21.907,21.355,26.866,2.756,1.928,9.368,7.164,9.368,10.333,0,.551-.826.689-2.2.689"/>
                        </g>
                      </svg>
                      
                </h1>
            </section>
            <section class="main-content">
                <h1 class="project-content-title"><span>C</span>M</h1>
                <div class="project-content-wrapp">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qeay1TLTPwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="project-content-detail">
                        <p>映画の予告編風にテンポよく壮大に制作しました。動画全体のディレクションと編集、撮影時の監督を担当しました。</p>
                    </div>
                </div>
                <h1 class="project-content-title"><span>見</span>とり図</h1>
                <div class="project-content-wrapp">
                    <img src="../assets/img/" alt="" class="project-img">
                    <div class="project-content-detail">
                        <p>映画の予告編風にテンポよく壮大に制作しました。動画全体のディレクションと編集、撮影時の監督を担当しました。</p>
                    </div>
                </div>
                <h1 class="project-content-title"><span>入</span>場時映像</h1>
                <div class="project-content-wrapp">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/g5AObQAo71Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="project-content-detail">
                        <p>本番３日前くらいに「いる」となって急遽制作した事前情報映像になります。簡単なイラストで視覚的にわかりやすく、音楽を途中で変えることで怖い雰囲気を演習しました。</p>
                    </div>
                </div>
                <h1 class="project-content-title"><span>謎</span>解きフォーム</h1>
                <div class="project-content-wrapp">
                        <iframe class="obake-form" width="100%" height="1080px" src="../web/toi1/index.html"  allowfullscreen></iframe>
                    <div class="project-content-detail">
                        <p>UIのフロントエンドと文字入力機能のバックエンドのプログラムを行いました。タイムオーバー時に流れる動画も制作しました。回答中に流れるBGMやタイムオーバー時に流れる動画や音声で怖い雰囲気を演出しました。<br><br><br>正解は「ながれぼし」です。
                            実際の会場の壁にヒントとなるチラシが設置されており、そこから導き出されるようになっています。<br><br><br>※実際に回答するディスプレイに合わせて設計しているので別タブで開いてください。<br><br><br><a class="project-go-form" href="../web/toi1/index.html" target="blank">回答フォームへ>></a></p>
                    </div>
                </div>
                <h1 class="project-content-title"><span>謎</span>解きフォーム</h1>
                <div class="project-content-wrapp">
                        <iframe class="obake-form" width="100%" height="1080px" src="../web/toi2/index.html"  allowfullscreen></iframe>
                    <div class="project-content-detail">
                        <p>謎解きフォーム１とほとんど同じです。正解した時のエンドロールを別で制作した以外は同じ設計です。<br><br><br>正解は「メアリー」です。
                            入場時に渡されるチケットとディスプレイに写っている暗号とを掛け合わせることで謎を解くことができます。<br><br><br>※実際に回答するディスプレイに合わせて設計しているので別タブで開いてください。<br><br><br><a class="project-go-form" href="../web/toi2/index.html" target="blank">回答フォームへ>></a></p>
                    </div>
                </div>
                <h1 class="project-content-title"><span>エ</span>ンドロール</h1>
                <div class="project-content-wrapp">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PSBq8XVlrYo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </section>
            <section class="project-schedule">
                <p>全体の制作期間：１０日間</p>
            </section>
        </div>
        <div class="slide-item">
            <p class="project_num">Project.file2</p>
            <section class="project-fv">
                <video class="project-background-video" src="../assets/video/drone.mp4" autoplay loop muted></video>
                <h1 class="project-title-file2">DRONE REPRODUCTION</h1>
            </section>
            <section class="project2-main-content">
                <p>高校３年生。<br>僕たちはドローンを作ることにした。</p>
            </section>
            <section class="project2-main-content-whtie project2-wrapp">
                <h1 class="project2-section-title">仕組み</h1>
                <p class="project2-char">Wifi機能の持つマイコンを使ってスマホと接続。</p>
                <div class="project2-section-flex">
                    <img class="iphone-img" src="../assets/img/iphone_frame.png" alt="">
                    <svg id="グループ_1493" class="wifi-svg" data-name="グループ 1493" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="286.491" height="168.545" viewBox="0 0 286.491 168.545">
                        <defs>
                        <clipPath id="clip-path">
                            <rect id="長方形_1261" data-name="長方形 1261" width="286.491" height="168.545" fill="none"/>
                        </clipPath>
                        </defs>
                        <g id="グループ_1492" data-name="グループ 1492" clip-path="url(#clip-path)">
                        <path id="パス_790" data-name="パス 790" d="M6,62.849c75.8-75.8,198.693-75.8,274.491,0" fill="none" stroke="#262626" stroke-linecap="round" stroke-miterlimit="10" stroke-width="12"/>
                        <path id="パス_791" data-name="パス 791" d="M35.724,92.573a152.059,152.059,0,0,1,215.043,0" fill="none" stroke="#262626" stroke-linecap="round" stroke-miterlimit="10" stroke-width="12"/>
                        <path id="パス_792" data-name="パス 792" d="M67.921,124.77a106.525,106.525,0,0,1,150.65,0" fill="none" stroke="#262626" stroke-linecap="round" stroke-miterlimit="10" stroke-width="12"/>
                        <path id="パス_793" data-name="パス 793" d="M125.684,150.983a17.562,17.562,0,1,1,17.562,17.562,17.562,17.562,0,0,1-17.562-17.562" fill="#262626"/>
                        </g>
                    </svg>
                    <div class="mi-com-svg">
                        <svg id="グループ_1491" data-name="グループ 1491" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="287.137" height="407.719" viewBox="0 0 287.137 407.719">
                            <defs>
                            <clipPath id="clip-path">
                                <rect id="長方形_1260" data-name="長方形 1260" width="287.137" height="407.719" fill="none"/>
                            </clipPath>
                            </defs>
                            <rect id="長方形_1243" data-name="長方形 1243" width="287.137" height="382.496" transform="translate(0 25.223)" fill="#1e3363"/>
                            <rect id="長方形_1244" data-name="長方形 1244" width="27.018" height="287.137" transform="translate(251.112 61.247)" fill="#09101c"/>
                            <rect id="長方形_1245" data-name="長方形 1245" width="27.018" height="287.137" transform="translate(7.417 61.247)" fill="#09101c"/>
                            <rect id="長方形_1246" data-name="長方形 1246" width="163.17" height="145.687" transform="translate(61.983 216.472)" fill="#5a5c60"/>
                            <rect id="長方形_1247" data-name="長方形 1247" width="44.815" height="33.774" transform="translate(195.095 31.649)" fill="#5a5c60"/>
                            <g id="グループ_1490" data-name="グループ 1490">
                            <g id="グループ_1489" data-name="グループ 1489" clip-path="url(#clip-path)">
                                <path id="パス_787" data-name="パス 787" d="M200.94,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S226.649,36.845,217.5,36.845,200.94,42.079,200.94,48.536" fill="#b1b3b6"/>
                                <rect id="長方形_1248" data-name="長方形 1248" width="44.815" height="33.774" transform="translate(46.065 31.649)" fill="#5a5c60"/>
                                <path id="パス_788" data-name="パス 788" d="M51.91,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S77.619,36.845,68.472,36.845,51.91,42.079,51.91,48.536" fill="#b1b3b6"/>
                                <path id="パス_789" data-name="パス 789" d="M104.78,50.446h77.577V0H104.78Zm15.194-32.017c-2.05,1.753-1.686,10.975-.82,12.763,1.139,2.355-4.737-4.859-4.737-10.854s2.121-10.854,4.737-10.854,5.589,4.866.82,8.945m47.2,12.763c.865-1.788,1.23-11.01-.82-12.763-4.769-4.079-1.8-8.945.82-8.945s4.736,4.86,4.736,10.854-5.875,13.209-4.736,10.854" fill="#b1b3b6"/>
                                <rect id="長方形_1249" data-name="長方形 1249" width="79.299" height="29.076" transform="translate(43.202 109.113)" fill="#242526"/>
                                <rect id="長方形_1250" data-name="長方形 1250" width="27.636" height="17.111" transform="translate(159.723 84.151)" fill="#242526"/>
                                <rect id="長方形_1251" data-name="長方形 1251" width="14.538" height="24.3" transform="translate(202.821 80.557)" fill="#242526"/>
                                <rect id="長方形_1252" data-name="長方形 1252" width="14.538" height="24.3" transform="translate(225.371 80.557)" fill="#242526"/>
                                <line id="線_17" data-name="線 17" y1="15.397" transform="translate(45.065 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_18" data-name="線 18" y1="15.397" transform="translate(50.824 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_19" data-name="線 19" y1="15.397" transform="translate(56.584 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_20" data-name="線 20" y1="15.397" transform="translate(62.343 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_21" data-name="線 21" y1="15.397" transform="translate(68.103 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_22" data-name="線 22" y1="15.397" transform="translate(73.862 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_23" data-name="線 23" y1="15.397" transform="translate(79.621 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_24" data-name="線 24" y1="15.397" transform="translate(85.381 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_25" data-name="線 25" y1="15.397" transform="translate(91.14 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_26" data-name="線 26" y1="15.397" transform="translate(96.9 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_27" data-name="線 27" y1="15.397" transform="translate(102.659 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_28" data-name="線 28" y1="15.397" transform="translate(108.419 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_29" data-name="線 29" y1="15.397" transform="translate(114.178 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_30" data-name="線 30" y1="15.397" transform="translate(119.938 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_31" data-name="線 31" y1="15.397" transform="translate(45.416 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_32" data-name="線 32" y1="15.397" transform="translate(51.175 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_33" data-name="線 33" y1="15.397" transform="translate(56.934 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_34" data-name="線 34" y1="15.397" transform="translate(62.694 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_35" data-name="線 35" y1="15.397" transform="translate(68.453 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_36" data-name="線 36" y1="15.397" transform="translate(74.213 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_37" data-name="線 37" y1="15.397" transform="translate(79.972 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_38" data-name="線 38" y1="15.397" transform="translate(85.732 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_39" data-name="線 39" y1="15.397" transform="translate(91.491 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_40" data-name="線 40" y1="15.397" transform="translate(97.251 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_41" data-name="線 41" y1="15.397" transform="translate(103.01 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_42" data-name="線 42" y1="15.397" transform="translate(108.769 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_43" data-name="線 43" y1="15.397" transform="translate(114.529 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_44" data-name="線 44" y1="15.397" transform="translate(120.288 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <rect id="長方形_1253" data-name="長方形 1253" width="5.085" height="5.085" transform="translate(179.731 79.067)" fill="#c5c5c5"/>
                                <rect id="長方形_1254" data-name="長方形 1254" width="5.085" height="5.085" transform="translate(207.547 75.472)" fill="#c5c5c5"/>
                                <rect id="長方形_1255" data-name="長方形 1255" width="5.085" height="5.085" transform="translate(207.547 104.857)" fill="#c5c5c5"/>
                                <rect id="長方形_1256" data-name="長方形 1256" width="5.085" height="5.085" transform="translate(230.098 75.472)" fill="#c5c5c5"/>
                                <rect id="長方形_1257" data-name="長方形 1257" width="5.085" height="5.085" transform="translate(230.098 104.857)" fill="#c5c5c5"/>
                                <rect id="長方形_1258" data-name="長方形 1258" width="5.085" height="5.085" transform="translate(163.487 79.067)" fill="#c5c5c5"/>
                                <rect id="長方形_1259" data-name="長方形 1259" width="5.085" height="5.085" transform="translate(170.998 101.263)" fill="#c5c5c5"/>
                            </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </section>
            <section class="project2-main-content-gray">
                <p class="project2-char-center">ブラウザでアクセスし操作した内容をマイコンに送信。</p>
                <div class="project2-section-flex">
                    <img class="controll-iphone" src="../assets/img/iphone_frame_joycon.png" alt="">
                    <span class="arrow-right">
                    </span>
                    <div class="mi-com-svg">
                        <svg id="グループ_1491" data-name="グループ 1491" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="287.137" height="407.719" viewBox="0 0 287.137 407.719">
                            <defs>
                            <clipPath id="clip-path">
                                <rect id="長方形_1260" data-name="長方形 1260" width="287.137" height="407.719" fill="none"/>
                            </clipPath>
                            </defs>
                            <rect id="長方形_1243" data-name="長方形 1243" width="287.137" height="382.496" transform="translate(0 25.223)" fill="#1e3363"/>
                            <rect id="長方形_1244" data-name="長方形 1244" width="27.018" height="287.137" transform="translate(251.112 61.247)" fill="#09101c"/>
                            <rect id="長方形_1245" data-name="長方形 1245" width="27.018" height="287.137" transform="translate(7.417 61.247)" fill="#09101c"/>
                            <rect id="長方形_1246" data-name="長方形 1246" width="163.17" height="145.687" transform="translate(61.983 216.472)" fill="#5a5c60"/>
                            <rect id="長方形_1247" data-name="長方形 1247" width="44.815" height="33.774" transform="translate(195.095 31.649)" fill="#5a5c60"/>
                            <g id="グループ_1490" data-name="グループ 1490">
                            <g id="グループ_1489" data-name="グループ 1489" clip-path="url(#clip-path)">
                                <path id="パス_787" data-name="パス 787" d="M200.94,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S226.649,36.845,217.5,36.845,200.94,42.079,200.94,48.536" fill="#b1b3b6"/>
                                <rect id="長方形_1248" data-name="長方形 1248" width="44.815" height="33.774" transform="translate(46.065 31.649)" fill="#5a5c60"/>
                                <path id="パス_788" data-name="パス 788" d="M51.91,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S77.619,36.845,68.472,36.845,51.91,42.079,51.91,48.536" fill="#b1b3b6"/>
                                <path id="パス_789" data-name="パス 789" d="M104.78,50.446h77.577V0H104.78Zm15.194-32.017c-2.05,1.753-1.686,10.975-.82,12.763,1.139,2.355-4.737-4.859-4.737-10.854s2.121-10.854,4.737-10.854,5.589,4.866.82,8.945m47.2,12.763c.865-1.788,1.23-11.01-.82-12.763-4.769-4.079-1.8-8.945.82-8.945s4.736,4.86,4.736,10.854-5.875,13.209-4.736,10.854" fill="#b1b3b6"/>
                                <rect id="長方形_1249" data-name="長方形 1249" width="79.299" height="29.076" transform="translate(43.202 109.113)" fill="#242526"/>
                                <rect id="長方形_1250" data-name="長方形 1250" width="27.636" height="17.111" transform="translate(159.723 84.151)" fill="#242526"/>
                                <rect id="長方形_1251" data-name="長方形 1251" width="14.538" height="24.3" transform="translate(202.821 80.557)" fill="#242526"/>
                                <rect id="長方形_1252" data-name="長方形 1252" width="14.538" height="24.3" transform="translate(225.371 80.557)" fill="#242526"/>
                                <line id="線_17" data-name="線 17" y1="15.397" transform="translate(45.065 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_18" data-name="線 18" y1="15.397" transform="translate(50.824 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_19" data-name="線 19" y1="15.397" transform="translate(56.584 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_20" data-name="線 20" y1="15.397" transform="translate(62.343 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_21" data-name="線 21" y1="15.397" transform="translate(68.103 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_22" data-name="線 22" y1="15.397" transform="translate(73.862 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_23" data-name="線 23" y1="15.397" transform="translate(79.621 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_24" data-name="線 24" y1="15.397" transform="translate(85.381 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_25" data-name="線 25" y1="15.397" transform="translate(91.14 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_26" data-name="線 26" y1="15.397" transform="translate(96.9 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_27" data-name="線 27" y1="15.397" transform="translate(102.659 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_28" data-name="線 28" y1="15.397" transform="translate(108.419 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_29" data-name="線 29" y1="15.397" transform="translate(114.178 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_30" data-name="線 30" y1="15.397" transform="translate(119.938 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_31" data-name="線 31" y1="15.397" transform="translate(45.416 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_32" data-name="線 32" y1="15.397" transform="translate(51.175 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_33" data-name="線 33" y1="15.397" transform="translate(56.934 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_34" data-name="線 34" y1="15.397" transform="translate(62.694 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_35" data-name="線 35" y1="15.397" transform="translate(68.453 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_36" data-name="線 36" y1="15.397" transform="translate(74.213 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_37" data-name="線 37" y1="15.397" transform="translate(79.972 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_38" data-name="線 38" y1="15.397" transform="translate(85.732 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_39" data-name="線 39" y1="15.397" transform="translate(91.491 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_40" data-name="線 40" y1="15.397" transform="translate(97.251 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_41" data-name="線 41" y1="15.397" transform="translate(103.01 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_42" data-name="線 42" y1="15.397" transform="translate(108.769 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_43" data-name="線 43" y1="15.397" transform="translate(114.529 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_44" data-name="線 44" y1="15.397" transform="translate(120.288 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <rect id="長方形_1253" data-name="長方形 1253" width="5.085" height="5.085" transform="translate(179.731 79.067)" fill="#c5c5c5"/>
                                <rect id="長方形_1254" data-name="長方形 1254" width="5.085" height="5.085" transform="translate(207.547 75.472)" fill="#c5c5c5"/>
                                <rect id="長方形_1255" data-name="長方形 1255" width="5.085" height="5.085" transform="translate(207.547 104.857)" fill="#c5c5c5"/>
                                <rect id="長方形_1256" data-name="長方形 1256" width="5.085" height="5.085" transform="translate(230.098 75.472)" fill="#c5c5c5"/>
                                <rect id="長方形_1257" data-name="長方形 1257" width="5.085" height="5.085" transform="translate(230.098 104.857)" fill="#c5c5c5"/>
                                <rect id="長方形_1258" data-name="長方形 1258" width="5.085" height="5.085" transform="translate(163.487 79.067)" fill="#c5c5c5"/>
                                <rect id="長方形_1259" data-name="長方形 1259" width="5.085" height="5.085" transform="translate(170.998 101.263)" fill="#c5c5c5"/>
                            </g>
                            </g>
                        </svg> 
                    </div>
                </div>
            </section>
            <section class="project2-main-content-white">
                <p class="project2-char-center">受け取ったデータをもとにモータを始動。</p>
                <div class="project2-section-flex">
                    <div class="mi-com-svg">
                        <svg id="グループ_1491" data-name="グループ 1491" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="287.137" height="407.719" viewBox="0 0 287.137 407.719">
                            <defs>
                            <clipPath id="clip-path">
                                <rect id="長方形_1260" data-name="長方形 1260" width="287.137" height="407.719" fill="none"/>
                            </clipPath>
                            </defs>
                            <rect id="長方形_1243" data-name="長方形 1243" width="287.137" height="382.496" transform="translate(0 25.223)" fill="#1e3363"/>
                            <rect id="長方形_1244" data-name="長方形 1244" width="27.018" height="287.137" transform="translate(251.112 61.247)" fill="#09101c"/>
                            <rect id="長方形_1245" data-name="長方形 1245" width="27.018" height="287.137" transform="translate(7.417 61.247)" fill="#09101c"/>
                            <rect id="長方形_1246" data-name="長方形 1246" width="163.17" height="145.687" transform="translate(61.983 216.472)" fill="#5a5c60"/>
                            <rect id="長方形_1247" data-name="長方形 1247" width="44.815" height="33.774" transform="translate(195.095 31.649)" fill="#5a5c60"/>
                            <g id="グループ_1490" data-name="グループ 1490">
                            <g id="グループ_1489" data-name="グループ 1489" clip-path="url(#clip-path)">
                                <path id="パス_787" data-name="パス 787" d="M200.94,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S226.649,36.845,217.5,36.845,200.94,42.079,200.94,48.536" fill="#b1b3b6"/>
                                <rect id="長方形_1248" data-name="長方形 1248" width="44.815" height="33.774" transform="translate(46.065 31.649)" fill="#5a5c60"/>
                                <path id="パス_788" data-name="パス 788" d="M51.91,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S77.619,36.845,68.472,36.845,51.91,42.079,51.91,48.536" fill="#b1b3b6"/>
                                <path id="パス_789" data-name="パス 789" d="M104.78,50.446h77.577V0H104.78Zm15.194-32.017c-2.05,1.753-1.686,10.975-.82,12.763,1.139,2.355-4.737-4.859-4.737-10.854s2.121-10.854,4.737-10.854,5.589,4.866.82,8.945m47.2,12.763c.865-1.788,1.23-11.01-.82-12.763-4.769-4.079-1.8-8.945.82-8.945s4.736,4.86,4.736,10.854-5.875,13.209-4.736,10.854" fill="#b1b3b6"/>
                                <rect id="長方形_1249" data-name="長方形 1249" width="79.299" height="29.076" transform="translate(43.202 109.113)" fill="#242526"/>
                                <rect id="長方形_1250" data-name="長方形 1250" width="27.636" height="17.111" transform="translate(159.723 84.151)" fill="#242526"/>
                                <rect id="長方形_1251" data-name="長方形 1251" width="14.538" height="24.3" transform="translate(202.821 80.557)" fill="#242526"/>
                                <rect id="長方形_1252" data-name="長方形 1252" width="14.538" height="24.3" transform="translate(225.371 80.557)" fill="#242526"/>
                                <line id="線_17" data-name="線 17" y1="15.397" transform="translate(45.065 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_18" data-name="線 18" y1="15.397" transform="translate(50.824 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_19" data-name="線 19" y1="15.397" transform="translate(56.584 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_20" data-name="線 20" y1="15.397" transform="translate(62.343 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_21" data-name="線 21" y1="15.397" transform="translate(68.103 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_22" data-name="線 22" y1="15.397" transform="translate(73.862 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_23" data-name="線 23" y1="15.397" transform="translate(79.621 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_24" data-name="線 24" y1="15.397" transform="translate(85.381 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_25" data-name="線 25" y1="15.397" transform="translate(91.14 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_26" data-name="線 26" y1="15.397" transform="translate(96.9 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_27" data-name="線 27" y1="15.397" transform="translate(102.659 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_28" data-name="線 28" y1="15.397" transform="translate(108.419 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_29" data-name="線 29" y1="15.397" transform="translate(114.178 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_30" data-name="線 30" y1="15.397" transform="translate(119.938 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_31" data-name="線 31" y1="15.397" transform="translate(45.416 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_32" data-name="線 32" y1="15.397" transform="translate(51.175 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_33" data-name="線 33" y1="15.397" transform="translate(56.934 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_34" data-name="線 34" y1="15.397" transform="translate(62.694 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_35" data-name="線 35" y1="15.397" transform="translate(68.453 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_36" data-name="線 36" y1="15.397" transform="translate(74.213 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_37" data-name="線 37" y1="15.397" transform="translate(79.972 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_38" data-name="線 38" y1="15.397" transform="translate(85.732 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_39" data-name="線 39" y1="15.397" transform="translate(91.491 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_40" data-name="線 40" y1="15.397" transform="translate(97.251 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_41" data-name="線 41" y1="15.397" transform="translate(103.01 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_42" data-name="線 42" y1="15.397" transform="translate(108.769 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_43" data-name="線 43" y1="15.397" transform="translate(114.529 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <line id="線_44" data-name="線 44" y1="15.397" transform="translate(120.288 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                <rect id="長方形_1253" data-name="長方形 1253" width="5.085" height="5.085" transform="translate(179.731 79.067)" fill="#c5c5c5"/>
                                <rect id="長方形_1254" data-name="長方形 1254" width="5.085" height="5.085" transform="translate(207.547 75.472)" fill="#c5c5c5"/>
                                <rect id="長方形_1255" data-name="長方形 1255" width="5.085" height="5.085" transform="translate(207.547 104.857)" fill="#c5c5c5"/>
                                <rect id="長方形_1256" data-name="長方形 1256" width="5.085" height="5.085" transform="translate(230.098 75.472)" fill="#c5c5c5"/>
                                <rect id="長方形_1257" data-name="長方形 1257" width="5.085" height="5.085" transform="translate(230.098 104.857)" fill="#c5c5c5"/>
                                <rect id="長方形_1258" data-name="長方形 1258" width="5.085" height="5.085" transform="translate(163.487 79.067)" fill="#c5c5c5"/>
                                <rect id="長方形_1259" data-name="長方形 1259" width="5.085" height="5.085" transform="translate(170.998 101.263)" fill="#c5c5c5"/>
                            </g>
                            </g>
                        </svg> 
                    </div>
                    <div class="project2-section-block">
                        <svg id="グループ_1497" data-name="グループ 1497" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="228.215" height="384.1" viewBox="0 0 228.215 384.1">
                            <defs>
                              <clipPath id="clip-path">
                                <rect id="長方形_1245" data-name="長方形 1245" width="228.215" height="384.1" fill="none"/>
                              </clipPath>
                            </defs>
                            <path id="パス_791" data-name="パス 791" d="M195.893,110.123,134.1,74.446v20.1H9.966V125.7H134.1v20.1Z"/>
                            <path id="パス_792" data-name="パス 792" d="M134.1,332.845H9.966V364H134.1v20.1l61.794-35.677L134.1,312.745Z"/>
                            <g id="グループ_1496" data-name="グループ 1496">
                              <g id="グループ_1495" data-name="グループ 1495" clip-path="url(#clip-path)">
                                <text id="モーターL正転" transform="translate(6 53)" font-size="23" font-family="HiraginoSans-W3, Hiragino Sans"><tspan x="0" y="0">モータ</tspan><tspan y="0" letter-spacing="0.249em">ー</tspan><tspan y="0" font-family="Helvetica" letter-spacing="0.25em">L</tspan><tspan y="0">正転</tspan></text>
                                <text id="モーターR正転" transform="translate(6 302)" font-size="25" font-family="HiraginoSans-W3, Hiragino Sans"><tspan x="0" y="0">モータ</tspan><tspan y="0" letter-spacing="0.249em">ー</tspan><tspan y="0" font-family="Helvetica" letter-spacing="0.25em">R</tspan><tspan y="0">正転</tspan></text>
                              </g>
                            </g>
                          </svg>
                    </div>
                    <div class="project2-section-block">
                        <svg id="グループ_1491" data-name="グループ 1491" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="354.42" height="163.478" viewBox="0 0 354.42 163.478">
                            <defs>
                              <clipPath id="clip-path">
                                <rect id="長方形_1243" data-name="長方形 1243" width="354.42" height="163.478" fill="none"/>
                              </clipPath>
                            </defs>
                            <g id="グループ_1490" data-name="グループ 1490">
                              <g id="グループ_1489" data-name="グループ 1489" clip-path="url(#clip-path)">
                                <path id="パス_787" data-name="パス 787" d="M275.566,163.478H3a3.009,3.009,0,0,1-3-3V3A3.009,3.009,0,0,1,3,0H275.566a3.009,3.009,0,0,1,3,3V160.478a3.009,3.009,0,0,1-3,3" fill="#6b6b6b"/>
                                <path id="パス_788" data-name="パス 788" d="M353.364,91.875H76.91a1.059,1.059,0,0,1-1.056-1.056V72.66A1.059,1.059,0,0,1,76.91,71.6H353.364a1.059,1.059,0,0,1,1.056,1.056V90.819a1.059,1.059,0,0,1-1.056,1.056" fill="#6b6b6b"/>
                              </g>
                            </g>
                            <text id="L" transform="translate(117.707 111.059)" font-size="72.814" font-family="Helvetica"><tspan x="0" y="0">L</tspan></text>
                          </svg>
                        <svg id="グループ_1494" data-name="グループ 1494" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="347.881" height="163.478" viewBox="0 0 347.881 163.478">
                            <defs>
                              <clipPath id="clip-path">
                                <rect id="長方形_1244" data-name="長方形 1244" width="347.881" height="163.478" fill="none"/>
                              </clipPath>
                            </defs>
                            <g id="グループ_1493" data-name="グループ 1493">
                              <g id="グループ_1492" data-name="グループ 1492" clip-path="url(#clip-path)">
                                <path id="パス_789" data-name="パス 789" d="M275.566,163.478H3a3.009,3.009,0,0,1-3-3V3A3.009,3.009,0,0,1,3,0H275.566a3.009,3.009,0,0,1,3,3V160.478a3.009,3.009,0,0,1-3,3" fill="#6b6b6b"/>
                                <path id="パス_790" data-name="パス 790" d="M346.825,91.875H70.371a1.059,1.059,0,0,1-1.056-1.056V72.66A1.059,1.059,0,0,1,70.371,71.6H346.825a1.059,1.059,0,0,1,1.056,1.056V90.819a1.059,1.059,0,0,1-1.056,1.056" fill="#6b6b6b"/>
                              </g>
                            </g>
                            <text id="R" transform="translate(116.223 115.4)" font-size="72.814" font-family="Helvetica"><tspan x="0" y="0">R</tspan></text>
                          </svg>
                    </div>
                </div>
            </section>
            <section class="project2-main-content-gray gray-diagonal">
                <h1 class="project2-section-title project2-wrapp">制作</h1>
                <div class="project2-content-section">
                    <div class="img-circuits">
                        <div class="project2-gap"> <h2 class="project2-sub-title">回路</h2></div>
                        <div class="project2-img-frame"><img class="img-circuit-2" src="../assets/img/IMG_1829.png" alt=""></div>
                    </div>
                    <div class="img-circuits">
                        <div class="project2-img-frame"><img class="img-circuit-1" src="../assets/img/IMG_1830.png" alt=""></div>
                        <div class="project2-image-frame-char"><p >マイコンからの信号をモーターシールドを通してPWM制御。</p></div>
                    </div>
                </div>
                <div class="project2-section-flex">
                </div>
            </section>
            <section class="project2-main-content-white">
                <div class="project2-content-section">
                    <div class="img-circuits">
                        <h2 class="project2-sub-title">ボディ</h2>
                        <div class="project2-img-frame"><img class="img-circuit-2" src="../assets/img/drone_base.png" alt=""></div>
                    </div>
                    <div class="img-circuits">
                        <div class="project2-img-frame"><img class="img-circuit-1" src="../assets/img/body_soft.png" alt=""></div>
                        <div class="project2-image-frame-char"><p >各部品が収まるように３Dプリンターで作成。</p></div>
                    </div>
                </div>
                <div class="project2-section-flex">
                </div>
            </section>
            <section class="project2-main-content-gray gray-diagonal">
                <div class="project2-content-section">
                    <div class="project2-section-title-single">
                        <div class="project2-gap"> <h2 class="project2-sub-title">ソフト</h2></div>
                    </div>
                    <div class="project2-soft-1">
                        <div class="project-2-soft-left">
                            <p>ESP8266<br>バックエンドのプログラム</p>
                            <div class="mi-com-svg">
                                <svg id="グループ_1491" data-name="グループ 1491" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="287.137" height="auto" viewBox="0 0 287.137 407.719">
                                    <defs>
                                    <clipPath id="clip-path">
                                        <rect id="長方形_1260" data-name="長方形 1260" width="287.137" height="407.719" fill="none"/>
                                    </clipPath>
                                    </defs>
                                    <rect id="長方形_1243" data-name="長方形 1243" width="287.137" height="382.496" transform="translate(0 25.223)" fill="#1e3363"/>
                                    <rect id="長方形_1244" data-name="長方形 1244" width="27.018" height="287.137" transform="translate(251.112 61.247)" fill="#09101c"/>
                                    <rect id="長方形_1245" data-name="長方形 1245" width="27.018" height="287.137" transform="translate(7.417 61.247)" fill="#09101c"/>
                                    <rect id="長方形_1246" data-name="長方形 1246" width="163.17" height="145.687" transform="translate(61.983 216.472)" fill="#5a5c60"/>
                                    <rect id="長方形_1247" data-name="長方形 1247" width="44.815" height="33.774" transform="translate(195.095 31.649)" fill="#5a5c60"/>
                                    <g id="グループ_1490" data-name="グループ 1490">
                                    <g id="グループ_1489" data-name="グループ 1489" clip-path="url(#clip-path)">
                                        <path id="パス_787" data-name="パス 787" d="M200.94,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S226.649,36.845,217.5,36.845,200.94,42.079,200.94,48.536" fill="#b1b3b6"/>
                                        <rect id="長方形_1248" data-name="長方形 1248" width="44.815" height="33.774" transform="translate(46.065 31.649)" fill="#5a5c60"/>
                                        <path id="パス_788" data-name="パス 788" d="M51.91,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S77.619,36.845,68.472,36.845,51.91,42.079,51.91,48.536" fill="#b1b3b6"/>
                                        <path id="パス_789" data-name="パス 789" d="M104.78,50.446h77.577V0H104.78Zm15.194-32.017c-2.05,1.753-1.686,10.975-.82,12.763,1.139,2.355-4.737-4.859-4.737-10.854s2.121-10.854,4.737-10.854,5.589,4.866.82,8.945m47.2,12.763c.865-1.788,1.23-11.01-.82-12.763-4.769-4.079-1.8-8.945.82-8.945s4.736,4.86,4.736,10.854-5.875,13.209-4.736,10.854" fill="#b1b3b6"/>
                                        <rect id="長方形_1249" data-name="長方形 1249" width="79.299" height="29.076" transform="translate(43.202 109.113)" fill="#242526"/>
                                        <rect id="長方形_1250" data-name="長方形 1250" width="27.636" height="17.111" transform="translate(159.723 84.151)" fill="#242526"/>
                                        <rect id="長方形_1251" data-name="長方形 1251" width="14.538" height="24.3" transform="translate(202.821 80.557)" fill="#242526"/>
                                        <rect id="長方形_1252" data-name="長方形 1252" width="14.538" height="24.3" transform="translate(225.371 80.557)" fill="#242526"/>
                                        <line id="線_17" data-name="線 17" y1="15.397" transform="translate(45.065 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_18" data-name="線 18" y1="15.397" transform="translate(50.824 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_19" data-name="線 19" y1="15.397" transform="translate(56.584 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_20" data-name="線 20" y1="15.397" transform="translate(62.343 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_21" data-name="線 21" y1="15.397" transform="translate(68.103 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_22" data-name="線 22" y1="15.397" transform="translate(73.862 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_23" data-name="線 23" y1="15.397" transform="translate(79.621 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_24" data-name="線 24" y1="15.397" transform="translate(85.381 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_25" data-name="線 25" y1="15.397" transform="translate(91.14 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_26" data-name="線 26" y1="15.397" transform="translate(96.9 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_27" data-name="線 27" y1="15.397" transform="translate(102.659 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_28" data-name="線 28" y1="15.397" transform="translate(108.419 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_29" data-name="線 29" y1="15.397" transform="translate(114.178 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_30" data-name="線 30" y1="15.397" transform="translate(119.938 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_31" data-name="線 31" y1="15.397" transform="translate(45.416 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_32" data-name="線 32" y1="15.397" transform="translate(51.175 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_33" data-name="線 33" y1="15.397" transform="translate(56.934 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_34" data-name="線 34" y1="15.397" transform="translate(62.694 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_35" data-name="線 35" y1="15.397" transform="translate(68.453 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_36" data-name="線 36" y1="15.397" transform="translate(74.213 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_37" data-name="線 37" y1="15.397" transform="translate(79.972 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_38" data-name="線 38" y1="15.397" transform="translate(85.732 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_39" data-name="線 39" y1="15.397" transform="translate(91.491 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_40" data-name="線 40" y1="15.397" transform="translate(97.251 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_41" data-name="線 41" y1="15.397" transform="translate(103.01 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_42" data-name="線 42" y1="15.397" transform="translate(108.769 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_43" data-name="線 43" y1="15.397" transform="translate(114.529 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_44" data-name="線 44" y1="15.397" transform="translate(120.288 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <rect id="長方形_1253" data-name="長方形 1253" width="5.085" height="5.085" transform="translate(179.731 79.067)" fill="#c5c5c5"/>
                                        <rect id="長方形_1254" data-name="長方形 1254" width="5.085" height="5.085" transform="translate(207.547 75.472)" fill="#c5c5c5"/>
                                        <rect id="長方形_1255" data-name="長方形 1255" width="5.085" height="5.085" transform="translate(207.547 104.857)" fill="#c5c5c5"/>
                                        <rect id="長方形_1256" data-name="長方形 1256" width="5.085" height="5.085" transform="translate(230.098 75.472)" fill="#c5c5c5"/>
                                        <rect id="長方形_1257" data-name="長方形 1257" width="5.085" height="5.085" transform="translate(230.098 104.857)" fill="#c5c5c5"/>
                                        <rect id="長方形_1258" data-name="長方形 1258" width="5.085" height="5.085" transform="translate(163.487 79.067)" fill="#c5c5c5"/>
                                        <rect id="長方形_1259" data-name="長方形 1259" width="5.085" height="5.085" transform="translate(170.998 101.263)" fill="#c5c5c5"/>
                                    </g>
                                    </g>
                                </svg> 
                            </div>
                            <p>信号に変換</p>
                        </div>
                        <div class="project-2-soft-arrow">
                            <p>入力データ</p>
                        </div>
                        <div class="project-2-soft-right">
                            <p>index.html<br>フロントエンドのコーディング</p>
                            <img class="iphone_width_hand" src="../assets/img/iphone_width_hand.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="project2-section-all project2-section-gray">
                    <h2>Step.1</h2>
                    <div class="project2-section-flex">
                        <div class="project2-section-left">
                            <div class="mi-com-svg">
                                <svg id="グループ_1491" data-name="グループ 1491" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="287.137" height="auto" viewBox="0 0 287.137 407.719">
                                    <defs>
                                    <clipPath id="clip-path">
                                        <rect id="長方形_1260" data-name="長方形 1260" width="287.137" height="407.719" fill="none"/>
                                    </clipPath>
                                    </defs>
                                    <rect id="長方形_1243" data-name="長方形 1243" width="287.137" height="382.496" transform="translate(0 25.223)" fill="#1e3363"/>
                                    <rect id="長方形_1244" data-name="長方形 1244" width="27.018" height="287.137" transform="translate(251.112 61.247)" fill="#09101c"/>
                                    <rect id="長方形_1245" data-name="長方形 1245" width="27.018" height="287.137" transform="translate(7.417 61.247)" fill="#09101c"/>
                                    <rect id="長方形_1246" data-name="長方形 1246" width="163.17" height="145.687" transform="translate(61.983 216.472)" fill="#5a5c60"/>
                                    <rect id="長方形_1247" data-name="長方形 1247" width="44.815" height="33.774" transform="translate(195.095 31.649)" fill="#5a5c60"/>
                                    <g id="グループ_1490" data-name="グループ 1490">
                                    <g id="グループ_1489" data-name="グループ 1489" clip-path="url(#clip-path)">
                                        <path id="パス_787" data-name="パス 787" d="M200.94,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S226.649,36.845,217.5,36.845,200.94,42.079,200.94,48.536" fill="#b1b3b6"/>
                                        <rect id="長方形_1248" data-name="長方形 1248" width="44.815" height="33.774" transform="translate(46.065 31.649)" fill="#5a5c60"/>
                                        <path id="パス_788" data-name="パス 788" d="M51.91,48.536c0,6.457,7.415,11.691,16.562,11.691s16.562-5.234,16.562-11.691S77.619,36.845,68.472,36.845,51.91,42.079,51.91,48.536" fill="#b1b3b6"/>
                                        <path id="パス_789" data-name="パス 789" d="M104.78,50.446h77.577V0H104.78Zm15.194-32.017c-2.05,1.753-1.686,10.975-.82,12.763,1.139,2.355-4.737-4.859-4.737-10.854s2.121-10.854,4.737-10.854,5.589,4.866.82,8.945m47.2,12.763c.865-1.788,1.23-11.01-.82-12.763-4.769-4.079-1.8-8.945.82-8.945s4.736,4.86,4.736,10.854-5.875,13.209-4.736,10.854" fill="#b1b3b6"/>
                                        <rect id="長方形_1249" data-name="長方形 1249" width="79.299" height="29.076" transform="translate(43.202 109.113)" fill="#242526"/>
                                        <rect id="長方形_1250" data-name="長方形 1250" width="27.636" height="17.111" transform="translate(159.723 84.151)" fill="#242526"/>
                                        <rect id="長方形_1251" data-name="長方形 1251" width="14.538" height="24.3" transform="translate(202.821 80.557)" fill="#242526"/>
                                        <rect id="長方形_1252" data-name="長方形 1252" width="14.538" height="24.3" transform="translate(225.371 80.557)" fill="#242526"/>
                                        <line id="線_17" data-name="線 17" y1="15.397" transform="translate(45.065 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_18" data-name="線 18" y1="15.397" transform="translate(50.824 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_19" data-name="線 19" y1="15.397" transform="translate(56.584 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_20" data-name="線 20" y1="15.397" transform="translate(62.343 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_21" data-name="線 21" y1="15.397" transform="translate(68.103 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_22" data-name="線 22" y1="15.397" transform="translate(73.862 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_23" data-name="線 23" y1="15.397" transform="translate(79.621 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_24" data-name="線 24" y1="15.397" transform="translate(85.381 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_25" data-name="線 25" y1="15.397" transform="translate(91.14 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_26" data-name="線 26" y1="15.397" transform="translate(96.9 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_27" data-name="線 27" y1="15.397" transform="translate(102.659 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_28" data-name="線 28" y1="15.397" transform="translate(108.419 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_29" data-name="線 29" y1="15.397" transform="translate(114.178 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_30" data-name="線 30" y1="15.397" transform="translate(119.938 93.715)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_31" data-name="線 31" y1="15.397" transform="translate(45.416 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_32" data-name="線 32" y1="15.397" transform="translate(51.175 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_33" data-name="線 33" y1="15.397" transform="translate(56.934 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_34" data-name="線 34" y1="15.397" transform="translate(62.694 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_35" data-name="線 35" y1="15.397" transform="translate(68.453 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_36" data-name="線 36" y1="15.397" transform="translate(74.213 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_37" data-name="線 37" y1="15.397" transform="translate(79.972 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_38" data-name="線 38" y1="15.397" transform="translate(85.732 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_39" data-name="線 39" y1="15.397" transform="translate(91.491 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_40" data-name="線 40" y1="15.397" transform="translate(97.251 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_41" data-name="線 41" y1="15.397" transform="translate(103.01 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_42" data-name="線 42" y1="15.397" transform="translate(108.769 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_43" data-name="線 43" y1="15.397" transform="translate(114.529 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <line id="線_44" data-name="線 44" y1="15.397" transform="translate(120.288 138.189)" fill="none" stroke="silver" stroke-miterlimit="10" stroke-width="1"/>
                                        <rect id="長方形_1253" data-name="長方形 1253" width="5.085" height="5.085" transform="translate(179.731 79.067)" fill="#c5c5c5"/>
                                        <rect id="長方形_1254" data-name="長方形 1254" width="5.085" height="5.085" transform="translate(207.547 75.472)" fill="#c5c5c5"/>
                                        <rect id="長方形_1255" data-name="長方形 1255" width="5.085" height="5.085" transform="translate(207.547 104.857)" fill="#c5c5c5"/>
                                        <rect id="長方形_1256" data-name="長方形 1256" width="5.085" height="5.085" transform="translate(230.098 75.472)" fill="#c5c5c5"/>
                                        <rect id="長方形_1257" data-name="長方形 1257" width="5.085" height="5.085" transform="translate(230.098 104.857)" fill="#c5c5c5"/>
                                        <rect id="長方形_1258" data-name="長方形 1258" width="5.085" height="5.085" transform="translate(163.487 79.067)" fill="#c5c5c5"/>
                                        <rect id="長方形_1259" data-name="長方形 1259" width="5.085" height="5.085" transform="translate(170.998 101.263)" fill="#c5c5c5"/>
                                    </g>
                                    </g>
                                </svg> 
                            </div>
                            <svg class="server" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 218.54 291.985">
                                <g id="グループ_1489" data-name="グループ 1489" transform="translate(0 0)">
                                <path id="パス_787" data-name="パス 787" d="M0,0V291.985H161.745l56.795-60.963V65.734L161.745,0Z" fill="#424242"/>
                                <rect id="長方形_1243" data-name="長方形 1243" width="120.975" height="20.291" transform="translate(16.658 42.23)" fill="#303030"/>
                                <rect id="長方形_1244" data-name="長方形 1244" width="5.582" height="14.157" transform="translate(20.571 45.297)" fill="#52cb72"/>
                                <rect id="長方形_1245" data-name="長方形 1245" width="5.582" height="14.157" transform="translate(30.27 45.297)" fill="#52cb72"/>
                                <rect id="長方形_1246" data-name="長方形 1246" width="5.582" height="14.157" transform="translate(39.97 45.297)" fill="#52cb72"/>
                                <rect id="長方形_1247" data-name="長方形 1247" width="5.582" height="14.157" transform="translate(49.669 45.297)" fill="#52cb72"/>
                                <rect id="長方形_1248" data-name="長方形 1248" width="5.582" height="14.157" transform="translate(59.369 45.297)" fill="#52cb72"/>
                                <rect id="長方形_1249" data-name="長方形 1249" width="5.582" height="14.157" transform="translate(69.069 45.297)" fill="#52cb72"/>
                                <rect id="長方形_1250" data-name="長方形 1250" width="5.582" height="14.157" transform="translate(78.768 45.297)" fill="#52cb72"/>
                                <rect id="長方形_1251" data-name="長方形 1251" width="5.582" height="14.157" transform="translate(88.468 45.297)" fill="#52cb72"/>
                                <rect id="長方形_1252" data-name="長方形 1252" width="5.582" height="14.157" transform="translate(98.167 45.297)" fill="#52cb72"/>
                                <rect id="長方形_1253" data-name="長方形 1253" width="120.975" height="20.291" transform="translate(16.658 71.9)" fill="#303030"/>
                                <rect id="長方形_1254" data-name="長方形 1254" width="5.582" height="14.157" transform="translate(20.571 74.967)" fill="#52cb72"/>
                                <rect id="長方形_1255" data-name="長方形 1255" width="5.582" height="14.157" transform="translate(30.27 74.967)" fill="#52cb72"/>
                                <rect id="長方形_1256" data-name="長方形 1256" width="5.582" height="14.157" transform="translate(39.97 74.967)" fill="#52cb72"/>
                                <rect id="長方形_1257" data-name="長方形 1257" width="5.582" height="14.157" transform="translate(49.669 74.967)" fill="#52cb72"/>
                                <rect id="長方形_1258" data-name="長方形 1258" width="5.582" height="14.157" transform="translate(59.369 74.967)" fill="#52cb72"/>
                                <rect id="長方形_1259" data-name="長方形 1259" width="5.582" height="14.157" transform="translate(69.069 74.967)" fill="#52cb72"/>
                                <rect id="長方形_1260" data-name="長方形 1260" width="5.582" height="14.157" transform="translate(78.768 74.967)" fill="#52cb72"/>
                                <rect id="長方形_1261" data-name="長方形 1261" width="5.582" height="14.157" transform="translate(88.468 74.967)" fill="#52cb72"/>
                                <rect id="長方形_1262" data-name="長方形 1262" width="5.582" height="14.157" transform="translate(98.167 74.967)" fill="#52cb72"/>
                                <rect id="長方形_1263" data-name="長方形 1263" width="120.975" height="20.291" transform="translate(16.658 101.57)" fill="#303030"/>
                                <rect id="長方形_1264" data-name="長方形 1264" width="5.582" height="14.157" transform="translate(20.571 104.637)" fill="#52cb72"/>
                                <rect id="長方形_1265" data-name="長方形 1265" width="5.582" height="14.157" transform="translate(30.27 104.637)" fill="#52cb72"/>
                                <rect id="長方形_1266" data-name="長方形 1266" width="5.582" height="14.157" transform="translate(39.97 104.637)" fill="#52cb72"/>
                                <rect id="長方形_1267" data-name="長方形 1267" width="5.582" height="14.157" transform="translate(49.669 104.637)" fill="#52cb72"/>
                                <rect id="長方形_1268" data-name="長方形 1268" width="5.582" height="14.157" transform="translate(59.369 104.637)" fill="#52cb72"/>
                                <rect id="長方形_1269" data-name="長方形 1269" width="5.582" height="14.157" transform="translate(69.069 104.637)" fill="#52cb72"/>
                                <rect id="長方形_1270" data-name="長方形 1270" width="5.582" height="14.157" transform="translate(78.768 104.637)" fill="#52cb72"/>
                                <rect id="長方形_1271" data-name="長方形 1271" width="5.582" height="14.157" transform="translate(88.468 104.637)" fill="#52cb72"/>
                                <rect id="長方形_1272" data-name="長方形 1272" width="5.582" height="14.157" transform="translate(98.167 104.637)" fill="#52cb72"/>
                                <rect id="長方形_1273" data-name="長方形 1273" width="120.975" height="20.291" transform="translate(16.658 131.239)" fill="#303030"/>
                                <rect id="長方形_1274" data-name="長方形 1274" width="5.582" height="14.157" transform="translate(20.571 134.307)" fill="#52cb72"/>
                                <rect id="長方形_1275" data-name="長方形 1275" width="5.582" height="14.157" transform="translate(30.27 134.307)" fill="#52cb72"/>
                                <rect id="長方形_1276" data-name="長方形 1276" width="5.582" height="14.157" transform="translate(39.97 134.307)" fill="#52cb72"/>
                                <rect id="長方形_1277" data-name="長方形 1277" width="5.582" height="14.157" transform="translate(49.669 134.307)" fill="#52cb72"/>
                                <rect id="長方形_1278" data-name="長方形 1278" width="5.582" height="14.157" transform="translate(59.369 134.307)" fill="#52cb72"/>
                                <rect id="長方形_1279" data-name="長方形 1279" width="5.582" height="14.157" transform="translate(69.069 134.307)" fill="#52cb72"/>
                                <rect id="長方形_1280" data-name="長方形 1280" width="5.582" height="14.157" transform="translate(78.768 134.307)" fill="#52cb72"/>
                                <rect id="長方形_1281" data-name="長方形 1281" width="5.582" height="14.157" transform="translate(88.468 134.307)" fill="#52cb72"/>
                                <rect id="長方形_1282" data-name="長方形 1282" width="5.582" height="14.157" transform="translate(98.167 134.307)" fill="#52cb72"/>
                                <rect id="長方形_1283" data-name="長方形 1283" width="120.975" height="20.291" transform="translate(16.658 160.909)" fill="#303030"/>
                                <rect id="長方形_1284" data-name="長方形 1284" width="5.582" height="14.157" transform="translate(20.571 163.976)" fill="#52cb72"/>
                                <rect id="長方形_1285" data-name="長方形 1285" width="5.582" height="14.157" transform="translate(30.27 163.976)" fill="#52cb72"/>
                                <rect id="長方形_1286" data-name="長方形 1286" width="5.582" height="14.157" transform="translate(39.97 163.976)" fill="#52cb72"/>
                                <rect id="長方形_1287" data-name="長方形 1287" width="5.582" height="14.157" transform="translate(49.669 163.976)" fill="#52cb72"/>
                                <rect id="長方形_1288" data-name="長方形 1288" width="5.582" height="14.157" transform="translate(59.369 163.976)" fill="#52cb72"/>
                                <rect id="長方形_1289" data-name="長方形 1289" width="5.582" height="14.157" transform="translate(69.069 163.976)" fill="#52cb72"/>
                                <rect id="長方形_1290" data-name="長方形 1290" width="5.582" height="14.157" transform="translate(78.768 163.976)" fill="#52cb72"/>
                                <rect id="長方形_1291" data-name="長方形 1291" width="5.582" height="14.157" transform="translate(88.468 163.976)" fill="#52cb72"/>
                                <rect id="長方形_1292" data-name="長方形 1292" width="5.582" height="14.157" transform="translate(98.167 163.976)" fill="#52cb72"/>
                                <rect id="長方形_1293" data-name="長方形 1293" width="120.975" height="20.291" transform="translate(16.658 190.579)" fill="#303030"/>
                                <rect id="長方形_1294" data-name="長方形 1294" width="5.582" height="14.157" transform="translate(20.571 193.646)" fill="#52cb72"/>
                                <rect id="長方形_1295" data-name="長方形 1295" width="5.582" height="14.157" transform="translate(30.27 193.646)" fill="#52cb72"/>
                                <rect id="長方形_1296" data-name="長方形 1296" width="5.582" height="14.157" transform="translate(39.97 193.646)" fill="#52cb72"/>
                                <rect id="長方形_1297" data-name="長方形 1297" width="5.582" height="14.157" transform="translate(49.669 193.646)" fill="#52cb72"/>
                                <rect id="長方形_1298" data-name="長方形 1298" width="5.582" height="14.157" transform="translate(59.369 193.646)" fill="#52cb72"/>
                                <rect id="長方形_1299" data-name="長方形 1299" width="5.582" height="14.157" transform="translate(69.069 193.646)" fill="#52cb72"/>
                                <rect id="長方形_1300" data-name="長方形 1300" width="5.582" height="14.157" transform="translate(78.768 193.646)" fill="#52cb72"/>
                                <rect id="長方形_1301" data-name="長方形 1301" width="5.582" height="14.157" transform="translate(88.468 193.646)" fill="#52cb72"/>
                                <rect id="長方形_1302" data-name="長方形 1302" width="5.582" height="14.157" transform="translate(98.167 193.646)" fill="#52cb72"/>
                                <rect id="長方形_1303" data-name="長方形 1303" width="120.975" height="20.291" transform="translate(16.658 220.249)" fill="#303030"/>
                                <rect id="長方形_1304" data-name="長方形 1304" width="5.582" height="14.157" transform="translate(20.571 223.316)" fill="#52cb72"/>
                                <rect id="長方形_1305" data-name="長方形 1305" width="5.582" height="14.157" transform="translate(30.27 223.316)" fill="#52cb72"/>
                                <rect id="長方形_1306" data-name="長方形 1306" width="5.582" height="14.157" transform="translate(39.97 223.316)" fill="#52cb72"/>
                                <rect id="長方形_1307" data-name="長方形 1307" width="5.582" height="14.157" transform="translate(49.669 223.316)" fill="#52cb72"/>
                                <rect id="長方形_1308" data-name="長方形 1308" width="5.582" height="14.157" transform="translate(59.369 223.316)" fill="#52cb72"/>
                                <rect id="長方形_1309" data-name="長方形 1309" width="5.582" height="14.157" transform="translate(69.069 223.316)" fill="#52cb72"/>
                                <rect id="長方形_1310" data-name="長方形 1310" width="5.582" height="14.157" transform="translate(78.768 223.316)" fill="#52cb72"/>
                                <rect id="長方形_1311" data-name="長方形 1311" width="5.582" height="14.157" transform="translate(88.468 223.316)" fill="#52cb72"/>
                                <rect id="長方形_1312" data-name="長方形 1312" width="5.582" height="14.157" transform="translate(98.167 223.316)" fill="#52cb72"/>
                                </g>
                            </svg>
                        </div>
                        <p>マイコンでサーバーを起動</p>
                    </div>
                      
                </div>
                <div class="project2-section-all">
                    <h2>Step.2</h2>
                    <div class="project2-section-flex">
                        <p>wifiでサーバーと接続</p>
                        <div class="project2-section-left">
                            <img src="../assets/img/micom_iphone.svg" alt="">
                            <div class="mi-com-svg">
                                
                            </div>
                            
                              
                        </div>
                        
                    </div>
                      
                </div>
                <div class="project2-section-all project2-section-gray">
                    <h2>Step.3</h2>
                    <div class="project2-section-flex">
                        
                        <div class="project2-section-left">
                            <img src="../assets/img/liephone.svg" alt="">
                            <div class="mi-com-svg">
                                
                            </div>
                            
                              
                        </div>
                        <p>index.htmlから操作</p>
                        
                    </div>
                      
                </div>
                <div class="project2-section-all">
                    <h2>Step.4</h2>
                    <div class="project2-section-flex">
                        <p>index.htmlから操作</p>
                        <div class="project2-section-left">
                            <img src="../assets/img/micom_mortor.svg" alt="">
                            <div class="mi-com-svg">
                                
                            </div>
                            
                              
                        </div>
                        
                        
                    </div>
                      
                </div>
            </section>
            <section class="end_movie">
                <h1 class="project2-section-title project2-wrapp">完成</h1>
            </section>
            <section class="project-schedule_drone">
                <p>全体の制作期間：3ヶ月間</p>   
            </section>
        </div>
        
    </div>
    <div class="slider-nav">
        <div >お化け屋敷</div>
        <div>Drone Reproduction</div>
        <div>お化け屋敷</div>
        <div>Drone Reproduction</div>
    </div>
</div>

<%- include (pageMeta.pagePath + "/include/_footer",{meta:pageMeta}) %>