<%
    const pageMeta ={
        pageId:'top',
        title:'Videos',
        description:'hayuse portfolio',
        pagePath:'..',
        sorcePath:'..'
    }
%>

<%- include (pageMeta.pagePath + "/include/_header",{meta:pageMeta}) %>
<div id="video-visual">
    <div class="slider-for">
        <div class="slide-item">
            
            <p class="slide-item-title"><span class="slide-item-num">No.1</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame">
                <div class="slide-item-video">
                    <iframe class="video_src" width="640" height="360" src="https://www.youtube.com/embed/m23yS9vheOE?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <p class="slide-item-point">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details">
                <p><span>制作時間 -</span>3日</p>
                <p><span>制作ソフト -</span>Aftereffects PremirePro</p>
            </div>
        </div>
        <div class="slide-item">
            <p class="slide-item-title"><span class="slide-item-num">No.2</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame">
                <div class="slide-item-video">
                    <iframe class="video_src" width="560" height="315" src="https://www.youtube.com/embed/-eEkaGwEXZY?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <p class="slide-item-point">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details">
                <p><span>制作時間：</span>3日</p>
                <p><span>制作ソフト：</span>Aftereffects PremirePro</p>
            </div>
        </div>
        <div class="slide-item">
            <p class="slide-item-title"><span class="slide-item-num">No.3</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame">
                <div class="slide-item-video">
                    <iframe class="video_src" width="560" height="315" src="https://www.youtube.com/embed/kykvOGTKXV0?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <p class="slide-item-point">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details">
                <p><span>制作時間：</span>3日</p>
                <p><span>制作ソフト：</span>Aftereffects PremirePro</p>
            </div>
        </div>
        <div class="slide-item">
            <p class="slide-item-title"><span class="slide-item-num">No.4</span>動画で覚える配色トーン</p>
            <div class="slide-item-frame">
                <div class="slide-item-video">
                    <iframe class="video_src" width="560" height="315" src="https://www.youtube.com/embed/bV_FozB3YMQ?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <p class="slide-item-point">testtexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttexttesttext</p>
            <div class="slide-item-details">
                <p><span>制作時間：</span>3日</p>
                <p><span>制作ソフト：</span>Aftereffects PremirePro</p>
            </div>
        </div>
    </div>
    </div>
    <div class="slider-nav">
        <div >1</div>
        <div>
           2 
        </div>
        <div>3</div>
        <div>4</div>
    </div>
</div>

<%- include (pageMeta.pagePath + "/include/_footer",{meta:pageMeta}) %>

